[user]
	email = alphagma@gmail.com
	name = Alpha
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --new-window --wait $MERGED
[mergetool]
	keepBackup = false
[core]
	autocrlf = false
	editor = code --wait
[pager]
	diff = delta
	log = delta
	reflog = false
	show = delta
	branch = false

[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	line-numbers = true
	navigate = true

[interactive]
	diffFilter = delta --color-only

[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --new-window --diff $LOCAL $REMOTE
[pull]
	rebase = true
[init]
	defaultBranch = main
[fetch]
	prune = true
